<h1>Create New User</h1>

<%= form_for @user do |f| %>
  <%= f.lable :first_name %>:
  <%= f.text_field :first_name %><br>

  <%= f.lable :last_name %>:
  <%= f.text_field :last_name %><br>

  <%= f.lable :email %>:
  <%= f.text_field :email %><br>

  <%= f.lable :password %>:
  <%= f.text_field :password %><br>

  <%= f.submit %>
<% end %>